<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/marking.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container">
  <h1>Audit+</h1>
  <br/>
<h2>Workflow</h2>

  <img src="{{ url_for('static', filename='img/image.png') }}">
<br/>
<br/>
  <h2>Regras aplicadas</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Descrição</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Entrada e saída </td>
      <td>Se uma acção do Sclinico for executada sem uma entrada anterior na mesma instituição do lado do sisqual</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Outlier</td>
      <td>Modelo machine learning que caracteriza os outliers nos dados sclinico</td>
    </tr>
  </table>
</div>

</body>
{% block footer %}
<!-- Footer -->
<footer class="mt-auto">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <h3>Objective</h3>

                    <p>
                        Audit Messages </p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h3>Contact</h3>
                    <p><i class="fas fa-map-marker-alt"></i> Audit+</p>
                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                    <h3>Follow us</h3>
                    <p>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-copyright">
                    <p>&copy; Me</p>
                </div>
                <div class="col-md-7 footer-menu">
                    <nav class="navbar navbar-dark navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#top-content">Top</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-1">Section 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-2">Section 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-3">Section 3</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-4">Section 4</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

</html>
